body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #8bd11b, #08e36f);
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #2972ad, #3541f0);
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

h2 {
    text-align: center;
    color: #3c2e2e;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e35151;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

.checked {
    text-decoration: line-through;
    color: #edc410d2;
}

.check-btn, .delete-btn {
    padding: 8px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.check-btn:hover, .delete-btn:hover {
    background-color: #ef7979;
}
